/* styles.css */
.main {
    background-color: #975a5a;
    padding: 20px;
}

.HIM {
    color: rgb(28, 28, 29);
    font-size: 24px;
}

.my {
    color: rgb(2, 56, 2);
    font-size: 18px;
}
